.button-store   {
    background-color: #252c41;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-family: Arial, "Roboto", sans-serif;
    line-height: 60px;
    text-align: center;
    margin-right: 0;
    text-decoration: none;
}


