.container-store{
    background-color:#e24647;
    margin: 0 auto;
    padding: 55px 60px 166px 0px;   
    width: 90%;
    max-width: 1330px;
    box-shadow:  0 0 39px 0 rgba(50, 50, 50, 0.36);
}

@media screen and (max-width:1410px){
    .container-store{
        width: 100%;
        max-width: 100%;
        }
    .header-store{
        margin-right: 60px;
    }    
}

@media (max-width:1310px) {
   .container-store{
       padding-right: 0;
   }
}

@media(max-width:490px) {
    .container-store{
        padding-right: 30px;
    }
}
