

.header-store{
    
    color: white;
    overflow: hidden;
    margin-bottom: 138px;
    padding-left: 60px;
    
}

.header-store > .navigation{
    float: right;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    
    
}

.header-store > .title{
    font-family: Arial, 'Roboto', sans-serif;  
    font-size: 40px;
    float: left;
    text-transform: uppercase;
}

.header-store .action{
    text-decoration: none;
    color: inherit;
    margin-left: 28px;
}

.header-store .action.-last {
    margin-right: 0;
}

.header-store > .input-search{
    
    display: inline-block;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    margin: 0 auto;
}
.search-box{
    
    text-align:left;
    color: #FFF;
    box-sizing: border-box;
    font-size: 20px;
    width: 358px;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    padding-bottom: 8px;
}




