    .header-store{
    color: white;
    overflow: hidden;
    margin-bottom: 138px;
    padding-left: 60px;
}

.header-store > .navigation{
    float: right;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-size: 21px;
}


.header-store > .title{
    font-family: Arial, 'Roboto', sans-serif;  
    font-size: 40px;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
    
}

.header-store .action{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-left: 28px;
    padding-bottom: 8px ;
    position: relative;
   
}

.header-store .action.-last {
    margin-right: 0;
}
.header-store .action::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform 200ms linear;
}

.header-store .action:hover::after {
    transform: scale(1);
   
}
@media (max-width: 1235px) {

    .header-store{
        margin-bottom: 70px;
    }
    .header-store > .title{
        float: none;
        text-align: center;
        margin-bottom: 20px ;   
    }

    .header-store > .navigation {
        float: none;
        text-align: center;
    }

}


@media (max-width:490px) {
    .header-store .navigation {
        margin: 0 auto;
    }
   .navigation .action:nth-child(2){
        margin-left: 0;
    }
    .header-store .action {
        /* background-color: green; */
        margin-right: 5px; 
    }
    .header-store{
        padding: 0;
        margin-right: 0;    

    }
}
@media (max-width:355px) {
    .header-store .action{
        margin-left: 2px ;
    }
}

@media (max-width:335px){
     .header-store > .navigation{
         display: none;
        }
    }




