body{
    background-color: cadetblue;
    font-family:Arial, Helvetica, sans-serif
}


.header-store{
    
    color: white;
    overflow: hidden;
    
}

.navigation{
    float: right;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    
    
}

.title{
    font-family: Arial, 'Roboto', sans-serif;  
    font-size: 40px;
    float: left;
}

.action{
    text-decoration: none;
    color: inherit;
    margin-left: 28px;
}

.last {
    margin-right: 0;
}





