.input-search{
    display: inline-block;
}


.input-search > .content{
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 8px;
    width: 358px;
    margin-right: 65px;
    vertical-align: bottom;
}

.input-search > .content::placeholder{
    color: inherit;
}

.input-search > .icon{
    display: none;
}


@media (max-width:955px) {
    .input-search{
        position: absolute;
        top: 0;
        left: 0;
        /* transform: translateX(-88%);
        transition: transform 100ms linear; */
    }

    .input-search > .content {
        margin-right: 0;
        background-color: #fff;
        color: black;
        vertical-align: middle;
    }

    .input-search > .icon{
        display: inline-block;
        background-color: white;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        padding: 8px;
        vertical-align: middle;
    }
    /* .input-search.-active {
        transition: transform 200ms linear;
        transform: translateX(0);
    }    */
}