body{
    background-color: cadetblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header{
    background-color:#e24647;
    color: white;
    overflow: hidden;
    margin-left: 115px;
    margin-right: 115px;
    padding: 55px 60px 96px 60px;
}

nav{
    float: right;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    
    
}

h1{
    font-family: Arial, 'Roboto', sans-serif;  
    font-size: 40px;
    float: left;
}

a{
    text-decoration: none;
    color: inherit;
    margin-left: 28px;
} 

#botao-compra{
    background-color: #252c41;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    height: 60px;
    width: 200px;
    font-size: 20px;
    padding: 18px 60px 20px;
}

