body{
    background-color: cadetblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header{
    background-color:#e24647;
}

nav{
    margin-left: 1200px;
    display: inline-block;
    font-size: 21px;
}

h1 , a { 
    color: #fff;
}

h1{
    background-color: cornflowerblue;   
    font-size: 40px;
    display: inline-block;
}

a{
    text-decoration: none;
}

